<!DOCTYPE html>
<html>
  <head>
    <title>Feedback page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Thank you</h1>
    <p>Thank you <%= name %></p>
  </body>
</html>